.message-list{
    margin: 10px;
    overflow: auto;
    height: calc(100% - 170px);
    background-color: rgb(245, 223, 194);
    
}

.messages-divider{
    height: 15px;
    font-size: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(49, 47, 47);
    text-align: center;
}

.messages-end{
    max-height: 1px;
}