.edit-message-modal{
    display: none;
    position: fixed;
    top: 10%;
    left: 20%;
    height: 300px;
    width: 500px;
    z-index: 200;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px;
    background-color: rgb(245, 223, 194);
    border-style: solid;
    border-width: 7px;
    border-radius: 20px;
    border-color: white;
    box-shadow: 3px 3px 3px 3px rgb(245, 223, 194);
}

.modal-shown{
    display: grid;
}

.edit-message-button{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
    margin-right: 30px;
    background-color: rgb(230, 101, 26);
    color: rgb(245, 223, 194);
}

.edit-message-close{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    margin-left: 30px;
}

.edit-message-close:hover{
    background-color: rgb(230, 101, 26);
    color: rgb(245, 223, 194);
}

.edit-message-button,
.edit-message-close{
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.edit-message-input{
    margin: 30px;
    grid-column: 1/3;
    grid-row: 1/2;
    overflow: auto;
    border-radius: 10px;
}